#block-chartblock p {
  font-size: 50px;
}
.box-shadow-hover:hover {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.pointer {
  cursor: pointer;
}
img {
  width: auto;
  max-height: 100px;
}
.poll-question {
  width: 100%;
  margin: 8px 0;
  /* overflow: hidden; */
}
.poll-question a {
  color: black;
  font-weight: 600;
  font-size: inherit;
  text-wrap: pretty;
  display: BLOCK;
  text-align: LEFT;
}
