/**
 * @file
 * Theme stylesheet for the opigno_poll module.
 */

.opigno_poll dl,
.opigno_poll dd {
  margin: 0;
}
.opigno_poll .links {
  text-align: center;
}
.opigno_poll .percent {
  text-align: right; /* LTR */
}
.opigno_poll .total {
  text-align: center;
}
.opigno_poll .vote-form {
  text-align: center;
}
.opigno_poll .vote-form {
  text-align: left; /* LTR */
}
.opigno_poll .vote-form .opigno_poll-title {
  font-weight: bold;
}
.opigno_poll-chtext {
  width: 80%;
}
.opigno_poll-chvotes .form-text {
  width: 85%;
}
