/**
 * @file
 * Base stylesheet for the opigno_poll module.
 */

.opigno_poll {
  overflow: hidden;
}
.opigno_poll .bar {
  height: 1em;
  margin: 1px 0;
  background-color: #ddd;
}
.opigno_poll .bar .foreground {
  background-color: #000;
  height: 1em;
  float: left; /* LTR */
}
