{#
/**
 * @file
 * Default theme implementation to display the opigno_poll results in a block.
 *
 * Variables available:
 * - title: The title of the opigno_poll.
 * - results: The results of the opigno_poll.
 * - votes: The total results in the opigno_poll.
 * - links: Links in the opigno_poll.
 * - pid: The pid of the opigno_poll
 * - cancel_form: A form to cancel the user's vote, if allowed.
 * - raw_links: The raw array of links.
 * - vote: The choice number of the current user's vote.
 *
 * @see template_preprocess_opigno_poll_results()
 *
 * @ingroup themeable
 */
#}
<div class="opignopoll">
  {% if show_question %}
    <h3 class="opignopoll-question">{{ question }}</h3>
  {% else %}
    <h3 class="opignopoll-results-title">{{ results_title }}</h3>
  {% endif %}
  <dl>
    <div class="container">
    <div class = "clearfix">
  {{ drupal_block('chart_block') }}
</div>
  <div class="row">
        {{ results }}
      </div>
    </div>
  </dl>
  <div class="total">
    {% trans %}Total votes: {{ votes }}{% endtrans %}
  </div>
</div>