{#
/**
 */
#}
{{ form.messages }}
<div class="opigno_poll">
  <div class="vote-form">
    {% if show_question %}
      <h3 class="opigno_poll-question">{{ question }}</h3>
    {% endif %}

    {{ form.choice }}

    {{ form.actions }}
  </div>
{{ form|without('actions', 'choice', 'messages', 'question') }}
</div>
